.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 100px 80px;
}
.contactContainer span{
    width: 70%;
    height: 5px;
    background-color: #706664;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentContainer p{
    max-width: 70%;
    text-align: center;
    text-justify: distribute-all-lines;
}

@media only screen and(max-width: 780px){
    .contactContainer{
        padding: 50px 20px;
    }
}
